.home__container {
  padding-top: 20px;
}
.home__shortener_title {
  padding-top: 20px;
  display: block;
}
.home__is_empty_value {
  border-color: red;
}
.home__shortener_error {
  padding: 20px;
  text-align: center;
}
.home__alert {
  margin-top: 15px;
}
.home__button {
  color: blue;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}
